<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" >
<!--    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >-->
    <Title>The Pelican</Title>
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">The Pelican</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-family: monospace">
            <div class="navbar-nav">
                <a class="nav-link" href="/news/">Headlines</a>
                <a class="nav-link" href="/newzealand/">New Zealand</a>
                <a class="nav-link" href="/technology/">Technology</a>
                <a class="nav-link" href="/business/">Business</a>
                <a class="nav-link" href="/sport/">Sport</a>
                <a class="nav-link" href="/weather/">Weather</a>
    <!--            <a class="nav-link" href="/football/">Football</a>-->
    <!--            <a class="nav-link" href="/covid/">Covid</a>-->
    <!--            <a class="nav-link" href="/quiz/">Quiz</a>-->
          </div>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>