<!--required arguements for collection of articles - 'articles' and title of page - 'title'-->
{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <div class="container">
        <h1 style="margin-top: 3.5rem; padding: 1rem; text-align: center">{{ title.title() }}</h1>
    </div>


    {% if articles %}
        {% for article in articles %}
            <div class="card container-sm" style="max-width: 40rem; margin-bottom: 1rem; padding: 0rem; color: #2F5061; background-color: #f5f3f3">
              {% if article.get("urlToImage") != None %}
              <img src="{{ article.get('urlToImage') }}" class="card-img-top" alt="Article Image" style="padding-top: 0rem">
              {% endif %}
              <div class="card-body">
                <h5 class="article title">{{ article.get("title") }}</h5>
                  {% if article.get("publishedAt") != None %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.get("publishedAt") }}</h6>
                  {% endif %}
                  {% if article.get("description") != None %}
                    <p class="card-text">{{ article.get("description") }}.</p>
                  {% endif %}
                <a href="{{ article.get('url') }}" class="card-link" style=" color: #2F5061">{{ article.get('source').get('name') }} </a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <h5 style="text-align: center">No news found</h5>
    {% endif %}

{% endblock %}