{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <h1>{{ title.capitalize() }}</h1>

    <h2>Current Weather</h2>
    <p>Current weather in {{ current_weather.get("location") }}: {{ current_weather.get("weather_type") }}</p>
    <img src="{{ current_weather.get('weather_icon_url') }}" alt="weather icon">
    <p>The current temperature is {{ current_weather.get("current_temperature") }} degrees.
        <br>Expect a high of {{ current_weather.get("max_temperature") }}
        degrees and a low of {{ current_weather.get("min_temperature") }} degrees </p>
    <p>Cloud cover of {{ current_weather.get("cloud_cover") }}%</p>
    <p>Humidity: {{ current_weather.get("humidity") }}%
        <br>Pressure: {{ current_weather.get("pressure") }}hPa</p>
    <p>Current wind speed {{ current_weather.get("wind_speed") }}, bearing {{ current_weather.get("wind_bearing") }}
        <br>Gusting to {{ current_weather.get("wind_gust") }}</p>

    <h2>7 Day Forcast</h2>
    


{% endblock %}